
* {
    box-sizing: border-box;

}


body {


    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image:url("./../image/background.jpg") ;
}


.dark-mode body {
    background-image:url("./../image/background1.jpg") ;
}
